/*body {
    background: url("https://www.paradavisual.com/wp-content/uploads/2020/01/img_atencionCliente.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/
.maintxt {
    position: relative;
}
.maintxt > img, .overlay-text {
    position: absolute;
}
.overlay-text {padding: 150px 50px;
    /*border: 1px solid #4CAF50;*/
}

.Formulario{
    border: 5px solid #BB2505;
}

.botonFormulario{
    margin: 0,0,20;
    padding: 0,0,20;
}
