  <div class="row">
    <div class="col-sm-6" >
        <div class="maintxt" style="background-color:lavender;">
            <img src="https://www.paradavisual.com/wp-content/uploads/2020/01/img_atencionCliente.jpg" class="img-responsive" /> 
            <span class="overlay-text">
                <h1 class="h1 p-3 mb-2 bg-light text-dark">Registrate como Cliente
                    <!--<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Arrow_icon.svg/1200px-Arrow_icon.svg.png" width="50" /> -->
                    <a class="btn btn-primary" (click)="MostrarFormularioCliente()">Registrate</a>
                </h1>
            </span>
                
        </div>
    </div>
    <div class="col-sm-6" >
        <div class="maintxt" style="background-color:lavender;">
            <img class="card-img-top" src="https://www.soy502.com/sites/default/files/styles/mobile_full_node/public/2017/Abr/23/carpinteria.jpg"  /> 
            <span class="overlay-text">
                <h1 class="h1 p-3 mb-2 bg-light text-dark">Registrate para Trabajar
                  <a class="btn btn-info" (click)="MostrarFormularioTrabador()">Registrate</a>
                  <!--<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Arrow_icon.svg/1200px-Arrow_icon.svg.png" width="50" /> 
                  <a href="#" class="btn btn-primary">Registrate</a>-->
                </h1>
            </span>
        </div>
    </div>

    
</div>  


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- *********************  SECCION PARA LAS NOTIFICACIONES  *********************** -->
<div *ngIf="acceptNotificacion" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>¡Felicidades!</strong> Tu registro ha sido procesado con exito!!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div *ngIf="errorNotificacion1"  class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>¡Error!</strong> Tu registro no se pudo completar, <strong>Por favor</strong>
  revise sus datos!!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>



<!-- ***********************  SECCION PARA EL FORMULARIO ********************* -->
  <div class="container Formulario" *ngIf ="clientStatus">
    <div class="cont-login ">
      <div class="login-pane">

        <div class="row">
          <div class="col">
            <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  [(ngModel)]="name" name="name"
                    placeholder="Nombre" required>
            </div>
          </div>
          <div class="col">
            <label for="inputEmail3" class="col-sm-2 control-label">Apellido</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  [(ngModel)]="lastname" name="lastname"
              placeholder="Apellido" required>
            </div>
          </div>
          <div class="col">
            <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  [(ngModel)]="username" name="username"
              placeholder="Username" required>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col">
            <label for="inputEmail3" class="col-sm-2 control-label">Telefono</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  [(ngModel)]="numberPhone" name="numberPhone"
              placeholder="Numero telefonico" required>
            </div>
          </div>
          <div class="col">
            <label for="inputEmail3" class="col-sm-2 control-label">Direccion</label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  [(ngModel)]="direction" name="direction"
              placeholder="Direccion" required>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3"  [(ngModel)]="email" name="email"
            placeholder="Email">
            <div>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control"  [(ngModel)]="password" name="password"
            id="inputPassword3" placeholder="Password">
          </div>
        </div>

        <div class="form-group" *ngIf="workStatus">
          <div class="col-sm-10">
            <label for="exampleFormControlFile1">*Curriculum Vitae</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
          </div>
        </div>
      
        <div class="form-group">
          <a class="btn btn-primary" (click)="Verificar_Datos()">Aceptar</a>
        </div>
      </div>
    </div>
  </div>

  






